* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --grey-background: #303030;
  --gold-accent: #C79B3B;
  --grey-color1: #1F1E21;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--grey-background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 83vh;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: hsl(0,0%,67%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #717171;
}
