input {
  border: none;
  height: 100%;
  width: 100%;
  font-size: 2.5rem;
  margin-left: 5px;
  border-radius: 10px 0 0 10px;
  letter-spacing: 1px;
  font-weight: bold;
}

input::placeholder {
  color: rgb(73, 73, 73);
}

input:focus {
  outline: none;
}
