.game-title {
  font-size: 6rem;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  padding-right: 20px;
}

.name-title {
  color: white;
}

.domain-title {
  color: var(--gold-accent);
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 90px;
}

.search-region-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  justify-content: space-between;
}

.search-title, .region-title {
  font-weight: bold;
  font-size: 1rem;
  color: var(--gold-accent);
}

.region-title {
  margin-right: 120px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 5%;
  margin-left: 10px;
  color: black;
}

.form-field {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: white;

}

.input-field {
  width: 100%;
  border: none;
  font-size: 2.5rem;
  margin-left: 10px;
  border-radius: 10px 0 0 10px;
  letter-spacing: 1px;
  font-weight: bold;
  color: black;
  background-color: white;

}

.input-field::placeholder {
  color: black;
  font-size: 2.5rem;
  opacity: 0.6;
}

.input-field:focus {
  outline: none;
}

.dropdown {
  min-width: 182px;
  position: relative;
  user-select: none;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 70px;
  border-radius: 0 10px 10px 0;
  padding-left: 11px;
  border-left: 2px solid var(--grey-background);
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: black;
  background-color: white;
}

.dropdown-icon {
  font-size: 1.5rem;
  color: var(--gold-accent);
  margin-right: 10px;
  margin-top: 5px;
}

.dropdown-content {
  position: absolute;
  top: 103%;
  left: 0;
  padding: 10px;
  background-color: white;
  color: black;
  width: 95%;
  margin-left: 2px;
  font-size: 1.3rem;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  color: black;
}

.dropdown-item:hover {
  background-color: #e6e6e6;
}
