
.game-title {
  font-size: 6rem;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

.name-title {
  color: white;
}

.domain-title {
  color: var(--gold-accent);
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 45%;
  border-radius: 10px;
  height: 70px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

.form-field {
  display: flex;
  height: 100%;
  width: 100%;
}

.input-field {
  border: none;
  font-size: 2.5rem;
  margin-left: 20px;
  border-radius: 10px 0 0 10px;
  letter-spacing: 1px;
  font-weight: bold;
}

.input-field::placeholder {
  color: var(--grey-background);
}

.input-field:focus {
  outline: none;
}


.dropdown {
  width: 250px;
  position: relative;
  user-select: none;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  cursor: pointer;
  height: 70px;
  border-radius: 0 10px 10px 0;
  padding-left: 10px;
  border-left: 2px solid var(--grey-background);
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: var(--grey-background);
  font-weight: bold;
}

.dropdown-icon {
  font-size: 1.5rem;
  color: var(--gold-accent);
  margin-right: 10px;
}

.dropdown-content {
  position: absolute;
  top: 103%;
  left: 0;
  padding: 10px;
  background-color: white;
  width: 95%;
  margin-left: 2px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown-item:hover {
  background-color: #e6e6e6;
}
