.active {
  background-color: rgb(73, 73, 73);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dc3b35;
  border-bottom: 1px solid #611816;
}

nav .title {
  font-size: 1.5rem;
  margin: 15px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  flex: 1;
}

nav ul {
  display: flex;
  margin-right: 10px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 0 10px;
  border-radius: 0.5rem;
  letter-spacing: 1px;
}

nav ul li a:not(.active):hover {
  background-color: #6d1e1c;
}

nav .nav-divider {
  border-left: 1px solid white;
  height: 40px;
}

nav .login-btn {
  margin-right: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border-radius: 0.5rem;
  padding: 10px;
  letter-spacing: 1px;
  margin-left: 20px;
  background-color: rgb(73, 73, 73);
}
