.inside-background {
  height: 100%;
  width: 70%;
}

.search-header {
  display: flex;
  background-color: var(--grey-color1);
  height: 67px;
  width: 100%;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  background-color: #D9D9D9;
  height: 39px;
  width: 975px;
  border-radius: 4px;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 4%;
  color: black;
}

.form-field {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #D9D9D9
}

.input-field {
  display: flex;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 5px;
  color: black;
  background-color: #D9D9D9;
}

.input-field::placeholder {
  color: black;
  opacity: 0.6;
}

.input-field:focus {
  outline: none;
}

.dropdown {
  width: 100px;
  position: relative;
  user-select: none;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gold-accent);
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  padding-left: 10px;
  border-left: 2px solid var(--grey-color1);
  font-size: 1rem;
  letter-spacing: 1px;
  color: black;
  font-weight: bold;
  height: 100%;
}

.dropdown-icon {
  font-size: 0.8rem;
  color: var(--grey-color1);
  margin-right: 10px;
  margin-left: 5px;
}

.dropdown-content {
  position: absolute;
  top: 103%;
  left: 0;
  padding: 10px;
  background-color: white;
  width: 95%;
  margin-left: 2px;
  margin-top: 1px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown-item:hover {
  background-color: #e6e6e6;
}

.username-container {
  display: flex;
  width: 100%;
  height: 250px;
  border-radius: 0px 0px 5px 5px;
  align-items: center;
  border: 1px solid black;
  border-top: 0;
  margin-bottom: 10px;
  background-color: var(--grey-color1);
}

.profile-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.profile-icon-container {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  position: relative;
}

.profile-level-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 20px;
  margin-top: 2px;
  border: 1px solid black;
  border-radius: 0px 0px 5px 5px;
  font-weight: bold;
  background-color: black;
}

.username-title {
  margin-left: 20px;
  font-size: 4rem;
  color: white;
}

.tagline-title {
  font-size: 4rem;
  color: #777777;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.side-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 650px;
}

.ranked-container {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-color1);
  width: 100%;
  height: 220px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.ranked-title {
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: var(--gold-accent);
  color: var(--grey-color1);
  width: 100%;
  height: 35px;
  border: 1px solid black;
  border-radius: 5px 5px 0px 0px;
  font-size: 1.5rem;
  font-weight: bold;
}

.ranked-label {
  padding-left: 10px;
  color: white;
}

.ranked-solo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--grey-color1);
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
  padding-top: 5px;
}

.ranked-outcome {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  margin-top: 5px;
}

.ranked-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--grey-background);
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid black;
  position: relative;
}

.ranked-type-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
}

.tier-rank-container {
  display: flex;
}

.tier-title, .division-title {
  margin-right: 5px;
  font-weight: bold;
  color: #FFAA46;
}

.LP-title {
  margin-left: 5px;
  font-weight: bold;
  color: white;
}

.winloss-container {
  display: flex;
}

.win-title {
  font-weight: bold;
  color: white;
}

.loss-title {
  font-weight: bold;
  color: white;
}

.ratio-title {
  margin-left: 5px;
  font-weight: bold;
  color: white;
}

.ranked-flex {
  width: 100%;
  height: 100%;
  background-color: var(--grey-color1);
  border: 1px solid black;
  border-radius: 0px 0px 5px 5px;
  padding-top: 5px;
}

.performance-container {
  background-color: var(--grey-color1);
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

.primary-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
  height: 100%;
}

.gamemode-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  background-color: var(--grey-color1);
  border-radius: 5px;
  border: 1px solid black;
}

.gamemode-tab {
  width: 16%;
  height: 95%;
  background-color: var(--grey-color1);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.matchsum-container {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: var(--grey-color1);
  border-radius: 5px;
  border: 1px solid black;
  /* margin-top: 10px; */
}

.recent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 60%;
  border-radius: 5px 0px 0px 5px;
  border-right: 1px solid black;
  background-color: var(--grey-color1);
  padding-left: 10px;
  padding-right: 10px;
}

.recent-label {
  color: white;
  font-size: 1.5rem;
}

.matchsearch-container {
  display: flex;
  background-color: black;
  width: 250px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid var(--gold-accent);
}

.matchsearch-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
  color: var(--gold-accent);
  margin-left: 5px;
}

.matchinput-field {
  display: flex;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  padding-left: 5px;
  background-color: black;
  color: white;
  border-radius: 0px 5px 5px 0px;
  padding-right: 5px;
}

.matchinput-field::placeholder {
  color: white;
}

.matchinput-field:focus {
  outline: none;
}

.history-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.match-expand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  background-color: var(--grey-color1);
}

.match-container {
  display: flex;
  width: 100%;
  height: 105px;
  margin-top: 10px;
}

.match-deco {
  width: 25px;
  height: 100%;
  background-color: var(--grey-color2);
  border-radius: 5px 0px 0px 5px;
}

.match-content {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--grey-color1);
  margin-left: 3px;
  border: 2px solid var(--grey-color2);
  border-radius: 0px 5px 5px 0px;
}

.match-divider {
  display: flex;
  align-self: center;
  width: 2px;
  height: 80%;
  background-color: var(--grey-color2);
}

.sum-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 160px;
  height: 100%;
}

.gamemode-label {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

.days-label {
  color: #B8B8B8;
  font-size: 0.9375rem;
  margin-top: 1px;
}

.gametime-label {
  color: #B8B8B8;
  font-size: 0.9375rem;
  margin-bottom: 3px;
}

.outcome-label {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

.victory {
  color: var(--blue-color1);
}

.victory-deco {
  background-color: var(--blue-color1);
}

.victory-content {
  border: 2px solid var(--blue-color1);
  background-color: #21252C;
}

.defeat {
  color: var(--red-color1);
}

.defeat-deco {
  background-color: var(--red-color1);
}

.defeat-content {
  border: 2px solid var(--red-color1);
  background-color: #2A2023;
}

.sum-container2 {
  display: flex;
  width: 490px;
  height: 100%;
}

.icon-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  margin-left: 2px;
}

.champsums-container {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 76px;
}

.champ-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 150px;
  margin-bottom: 2px;
  position: relative;
}

.level-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid black;
  position: absolute;
  background-color: var(--grey-color1);
}

.level {
  font-size: 0.6rem;
  font-weight: bold;
  color: #FFAA46;
}

.summoners-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.spell-container1, .spell-container2 {
  width: 24px;
  height: 100%;
  background-color: var(--grey-color1);
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
}

.runepage-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 76px;
  margin-left: 2px;
}

.rune-container1, .rune-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 37px;
  background-color: var(--grey-color1);
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
}

.icon-container2 {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  margin-top: 4px;
  width: 45%;
  height: 100%;
}

.matchstats-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.kda-container {
  display: flex;
  flex-direction: column;
  width: 110px;
  height: 100%;
}

.kda-num {
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
}

.kda-death {
  color: var(--red-color1);
}

.kda-slash {
  color: #8D8D8D;
}

.kda-ratio {
  font-size: 0.75rem;
  color: white;
}

.kp-ratio {
  font-size: 0.75rem;
  color: var(--red-color1);
}

.gcc-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
}

.gold-income, .creep-score, .control-wards {
  display: flex;
  font-size: 0.75rem;
  padding-bottom: 3px;
  color: white;
}

.gold-styling, .cs-styling, .cw-styling {
  border-radius: 5px;
  margin-right: 5px;
}

.items-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 57px;
}

.item-style {
  border-radius: 5px;
  border: 1px solid black;
  background-color: var(--grey-color1);
}

.icon-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  margin-right: 5px;
}

.matchrank-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
  margin-top: 2px;
  padding-right: 5px;
}

.matchrank-title {
  color: white;
  font-size: 0.8rem;
}

.analysis-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 25px;
  background-color: black;
  border-radius: 5px;
  border: 1px solid var(--gold-accent);
}

.analysis-title {
  color: white;
  font-size: 0.8rem;
}

.pings-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.danger-ping, .pathing-ping, .assist-ping, .missing-ping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.multikill-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.multikill-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: var(--red-color1);
}

.pentakill {
  background-color: var(--gold-accent);
}

.multikill-title {
  color: white;
  font-size: 1rem;
}

.sum-container3 {
  display: flex;
  width: 335px;
  height: 100%;
  justify-content: flex-end;
  gap: 5px;
}

.team-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 1px;
}

.player-container {
  display: flex;
  align-items: center;
  width: 150px;
  gap: 3px;
}

.player-styling {
  color: #AAAAAA;
  font-size: 0.75rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.expand-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4%;
  height: 100%;
  background-color: var(--grey-color1);
  border-left: 1px solid black;
}

.expand-styling {
  width: 100%;
  height: 100%;
  color: #FFAA46;
}
