.active {
  background-color: rgb(73, 73, 73);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: 15px;
}

.name {
  color: white;
}

.domain {
  color: var(--gold-accent);
}

.login-btn {
  display: flex;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  padding: 15px;
  letter-spacing: 1px;
  background-color: var(--grey-color1);
  height: 60px;
}

.login-icon {
  color: var(--gold-accent);
  margin-left: 5px;
}
